{% extends 'base.html' %}
{% block content %}

{% if books %}
{{ books|safe }}
{% endif %}

{% if chapters %}
{{ chapters|safe }}
{% endif %}

{% if verses %}
<table align="center">
    <tr>
        <td class="msize">{% if prev_link %}<a href="{{ prev_link }}">Prev</a>{% endif %}</td>
        <td class="msize">{% if next_link %}<a href="{{ next_link }}">Next</a>{% endif %}</td>
    </tr>
</table>
{{ verses|safe }}
<table align="center">
    <tr>
        <td class="msize">{% if prev_link %}<a href="{{ prev_link }}">Prev</a>{% endif %}</td>
        <td class="msize">{% if next_link %}<a href="{{ next_link }}">Next</a>{% endif %}</td>
    </tr>
</table>
{% endif %}
{% endblock %}


